.bodyBg {
  background-color: #fff; }

.instruction {
  margin-top: 20px;
  font-size: 16px;
  font-family: Sans-serif; }
  .instruction .text-responsive {
    font-size: 1.9vh; }
  .instruction .header {
    background: #6fcdd7;
    padding: 10px 20px;
    top: 0px;
    width: 100%;
    margin: 30px auto 0px auto;
    color: white;
    font-size: 20px;
    font-weight: Bold; }
    .instruction .header:first-child {
      margin: -15px auto 0px auto; }
  .instruction ol {
    padding-left: 30px; }
  .instruction .footer {
    background: #6fcdd7;
    padding: 10px 20px;
    margin-top: 100px;
    font-size: 14px; }
    .instruction .footer a {
      color: white; }
    .instruction .footer .fa {
      padding: 0px 5px; }
      .instruction .footer .fa:hover {
        color: #6b6b6b; }
    .instruction .footer .social {
      float: right; }
      .instruction .footer .social img, .instruction .footer .social section .large_img, .instruction section .footer .social .large_img {
        display: inline;
        padding: 0px 5px; }
    .instruction .footer .white-space-wrap-reverse {
      white-space: wrap-reverse;
      padding-top: 5px; }
    .instruction .footer .white-space-nowrap {
      white-space: nowrap; }
  .instruction section {
    padding: 20px 20px 0px 20px;
    margin: 0px auto;
    text-align: left;
    width: 100%;
    /*border:1px solid $section_border;*/
    /*padding-top: 20px;*/
    background-color: white; }
    .instruction section li {
      margin: 8px 0; }
    .instruction section p {
      margin: 8px 0 10px;
      text-align: justify; }
    .instruction section img, .instruction section .large_img {
      padding: 15px 0px;
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .instruction section li {
      text-align: justify; }
    .instruction section .thumbnail {
      width: 100%;
      /* Medium devices (desktops, 992px and up) */ }
      .instruction section .thumbnail .img-responsive {
        /*max-width: 100% !important; */
        /*height: 100%; */
        /*min-height: 328px !important;*/
        height: 328px;
        width: auto !important; }
      @media (max-width: 991px) {
        .instruction section .thumbnail .caption {
          min-height: auto; }
        .instruction section .thumbnail .img-responsive {
          height: auto; } }
    .instruction section .large_img {
      width: 60%; }
    .instruction section .real_img {
      width: 90%; }
    .instruction section a {
      word-break: break-all; }
    .instruction section .equal, .instruction section .equal > div[class*='col-'] {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap; }
    .instruction section .overview {
      display: flex;
      justify-content: center;
      align-items: center; }
    @media (max-width: 991px) {
      .instruction section .table {
        font-size: 12px; }
      .instruction section .overview {
        display: block; } }
  .instruction h2 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase; }
  .instruction .nav-controller {
    position: fixed;
    top: 165px;
    right: 1%;
    padding: 5px 6px 1px;
    border: 5px solid #333333;
    color: #333333;
    border-radius: 25px;
    font-size: 12pt;
    cursor: pointer;
    z-index: 300; }
  .instruction nav.focus ~ .nav-controller > .controller-open {
    display: none; }
  .instruction nav.focus ~ .nav-controller > .controller-close {
    display: inline-block; }
  .instruction nav {
    position: fixed;
    top: 150px;
    right: 0%;
    padding-top: 10px;
    padding-bottom: 15px;
    height: auto;
    max-width: 270px;
    text-align: left;
    background-color: white;
    box-shadow: -4px 3px 5px 2px rgba(0, 0, 0, 0.21);
    z-index: 100;
    overflow: auto;
    border-radius: 20px 0px 0px 20px; }
    .instruction nav ~ .nav-controller > .controller-open {
      display: inline-block; }
    .instruction nav ~ .nav-controller > .controller-close {
      display: none; }
    .instruction nav > h4 {
      font-family: 'Anton', sans-serif; }
    .instruction nav > ul {
      list-style: none; }
      .instruction nav > ul li {
        margin: 5px 0px; }
        .instruction nav > ul li a {
          color: #979797; }
    .instruction nav > h4, .instruction nav > p, .instruction nav > ul {
      padding: 0px 10px; }
  .instruction nav.focus {
    right: -100%; }
  .instruction .menuBar li {
    color: white;
    transition: background-color .5s, color .5s; }
  .instruction .menuBar li.active {
    color: #3998a9 !important; }
    .instruction .menuBar li.active > a {
      color: #3998a9; }
  .instruction #toTop {
    position: fixed;
    bottom: 50px;
    right: 30px;
    cursor: pointer;
    display: none;
    background: #328596;
    border-color: #328596;
    width: 40px;
    float: right;
    margin-bottom: 5px;
    z-index: 9999; }
  @media screen and (max-width: 768px) and (min-width: 455px) {
    .instruction #toTop {
      bottom: 10px; } }

/*# sourceMappingURL=instruction.css.map */
