.main {
  width: 100%;
  height: 100%;
  left: 0px;
  /*header*/
  /* range */ }
  .main .row {
    margin-right: 0px !important;
    margin-left: 0px !important; }
  .main .error-alert {
    position: absolute;
    top: 70px;
    /*bottom: 20px;*/
    right: 0;
    z-index: 1; }
  .main .recommendation_alert {
    background-color: #fcf8e3;
    color: black;
    font-size: 16px;
    vertical-align: middle;
    width: 100%;
    margin: auto !important;
    padding: 7px 25px 7px 35px;
    top: 49px;
    position: absolute;
    z-index: 0;
    display: none;
    text-align: center;
    font-weight: bold;
    border-radius: 0; }
    .main .recommendation_alert .close {
      color: white;
      opacity: 1;
      padding-right: 10px;
      padding-left: 0px;
      color: black;
      top: 0;
      right: -11px; }
    .main .recommendation_alert span {
      opacity: 1; }
    .main .recommendation_alert .browserIcon {
      /*width: 30px ;*/
      /*height: auto;*/
      /*display: inline;*/
      color: white;
      opacity: 1;
      vertical-align: middle;
      margin: 0;
      padding: 0 5px; }
    .main .recommendation_alert a:first-of-type {
      margin-left: 15px; }
  .main .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    height: 100%; }
  .main .legend-info {
    line-height: 2; }
  .main .nav {
    padding-left: 20px;
    font-size: 22px;
    top: 0; }
  .main .navbar {
    position: fixed;
    width: 100%;
    margin-bottom: 0px !important;
    z-index: 1;
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
    border-radius: 0px; }
  .main .navbar-brand {
    position: fixed;
    padding: 0px;
    cursor: pointer;
    margin-left: 0px !important;
    padding-left: 5px;
    left: 0px;
    top: 0px; }
  .main .sniffer-logo-plus {
    padding: 0px;
    left: 0px;
    top: 0px; }
    .main .sniffer-logo-plus img {
      height: 100%; }
  .main .img-responsive {
    display: block;
    padding: 7px;
    max-width: 100% !important;
    /*height: 100%;*/ }
  .main .navbar-right {
    margin-right: 15px; }
  .main .navbar-default {
    background: #fff; }
  .main .menuBuild {
    padding-right: 20px;
    font-size: 20px;
    color: #6fcdd7;
    text-decoration: none !important;
    display: block; }
  .main .menuBtn {
    padding-top: 10px; }
  .main .active a {
    color: orange;
    background-color: #fff !important;
    text-decoration: none; }
  .main a:link {
    text-decoration: none; }
  .main a:visited {
    text-decoration: none; }
  .main a:hover {
    text-decoration: none;
    color: orange; }
  .main a:active {
    text-decoration: none; }
  @media only screen and (max-width: 767px) {
    .main .menuBtn {
      padding-top: 0px;
      padding-bottom: 5px; } }
  @media only screen and (max-width: 400px) {
    .main .menuBuild {
      font-size: 18px;
      padding-left: 15px; }
    .main .navbar-brand > img {
      margin-left: 10px !important; } }
  @media only screen and (max-width: 320px) {
    .main .menuBuild {
      font-size: 18px; }
    .main .title span {
      font-size: 30px !important; }
    .main .navbar-brand {
      padding: 0px !important;
      padding: 15px 8px; } }
  .main #mainBtn {
    margin-left: 20px;
    cursor: pointer; }
  @media only screen and (max-width: 400px) {
    .main .menuBuild {
      font-size: 20px;
      padding-left: 15px; }
    .main .navbar-brand > img {
      margin-left: 10px !important; } }
  .main #instructionBtn {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer; }
  .main #introductionBtn {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer; }
  .main #aboutUsBtn {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer; }
  .main .navbar-brand > img {
    max-width: 130px;
    max-height: 30px;
    margin-top: -5px;
    margin-left: 30px; }
  .main .navbar-toggle {
    margin-right: 10px; }
  .main .container-fluid > .navbar-collapse,
  .main .container-fluid > .navbar-header,
  .main .container > .navbar-collapse,
  .main .container > .navbar-header {
    margin-right: 0px;
    margin-left: -15px; }
  .main .loader {
    z-index: 1;
    color: #2e8ffd;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    display: none; }
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
        95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
        59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
        95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
        59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
  .main #mainContent {
    height: calc(100% - 50px);
    position: absolute;
    width: 100%;
    left: 0;
    top: 50px; }
  .main .color-scale {
    list-style-type: none;
    padding-left: 0px !important; }
  .main .color-scale-item {
    float: left;
    width: 100px;
    height: 10px; }
  .main .color-scale-value {
    bottom: -1rem;
    position: relative; }
  @media only screen and (max-width: 1000px) {
    .main .color-scale-item {
      float: left;
      width: 50px; } }
  .main .element_header {
    text-align: center;
    margin: 30px 0px; }
    .main .element_header .elementTitle {
      color: #63ccd7;
      margin: auto; }
    .main .element_header .colored-line {
      background-color: #f7941d;
      margin: auto;
      margin-top: 20px;
      height: 2px;
      width: 80px; }

/*# sourceMappingURL=common.css.map */
