.snifferMapContent {
  height: 100%;
  /* google infowindow */
  /*.......................Css InfoWindow.............................*/
  /*.......................Css InfoWindow.............................*/
  /* .gm-style-iw+div {
      display: none;
  } */
  /* end Css infowindow */ }
  .snifferMapContent .nowcast {
    color: black;
    text-decoration: underline !important; }
  .snifferMapContent .nowcast:hover {
    color: gray; }
  .snifferMapContent .flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; }
    .snifferMapContent .flex-container #viewAirQuality {
      display: none; }
  .snifferMapContent #snifferMapContent {
    display: flex; }
  .snifferMapContent #map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px; }
  .snifferMapContent .panel {
    border-radius: 2px;
    border: 1px solid #c0c0c0;
    width: 100%; }
  .snifferMapContent .panel span {
    padding: 6px;
    opacity: 1; }
  .snifferMapContent .panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px 10px; }
  .snifferMapContent .panel-heading .snifferTitle {
    margin-top: 0px;
    white-space: nowrap; }
  .snifferMapContent .panel-heading h5 {
    margin-bottom: 0px; }
  .snifferMapContent .panel-default .panel-heading {
    background: #fff;
    color: #000 !important;
    font-size: 24px; }
  .snifferMapContent .panel-body {
    font-size: 18px; }
  .snifferMapContent .addressStr {
    text-transform: capitalize; }
  .snifferMapContent .airquality {
    padding: 20px;
    text-align: center; }
  .snifferMapContent .airquality h4 {
    margin-bottom: 0px !important;
    color: white !important; }
  .snifferMapContent .li-panel {
    list-style-type: none; }
  .snifferMapContent .line {
    font-size: 18px; }
  .snifferMapContent .scale {
    padding: 0 8px;
    position: absolute;
    border-radius: 3px;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    border: 1px solid #fff;
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.4);
    background: #fff;
    height: 50px; }
  .snifferMapContent .legend-info img {
    height: 25px;
    width: auto; }
  .snifferMapContent .gm-style-iw {
    left: 0px !important;
    width: 100% !important;
    padding: 0px 0px 0x 0px !important;
    text-align: center;
    top: 0px !important; }
  .snifferMapContent #map > div > div > div > div > div > div > div {
    width: 400px;
    padding: 0 !important; }
  .snifferMapContent #map > div > div > div > div > div > div > div > div > div:first-child {
    width: 400px;
    padding: 0 !important; }
  .snifferMapContent .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
    margin-left: 5px;
    text-align: center;
    margin-left: 0px !important; }
  .snifferMapContent .panel-body {
    padding: 0; }
    .snifferMapContent .panel-body .fineParticlesValue {
      margin-top: 0px;
      margin-bottom: 0px;
      line-height: 1.5em;
      font-weight: 500;
      font-size: 18px; }
    .snifferMapContent .panel-body .nowCastRecommend {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 14px;
      color: #000;
      margin: 8px 0px 8px 4px !important; }
  .snifferMapContent .panel-heading {
    padding: 0 !important; }
    .snifferMapContent .panel-heading .snifferTitle {
      font-weight: 500;
      font-size: 18px;
      padding: 20px 0px 10px 0px; }
  .snifferMapContent .sniffName {
    font-size: 14px;
    color: #9b9999;
    font-family: 'Open Sans Condensed', sans-serif; }
  @media screen and (max-width: 600px) {
    .snifferMapContent .panel-default .panel-heading {
      font-size: 18px; }
    .snifferMapContent .panel-body {
      font-size: 14px; }
    .snifferMapContent .airquality h4 {
      font-size: 18px; }
    .snifferMapContent .line {
      font-size: 14px; }
    .snifferMapContent .li-panel {
      padding: 20px; }
    .snifferMapContent .addressStr {
      font-size: 12px; } }
  @media screen and (max-width: 550px) {
    .snifferMapContent #map > div > div > div > div > div > div > div {
      width: 260px;
      padding: 0 !important; }
    .snifferMapContent #map > div > div > div > div > div > div > div > div > div:first-child {
      width: 260px;
      padding: 0 !important; }
    .snifferMapContent .panel-heading {
      padding: 0 !important; }
      .snifferMapContent .panel-heading .snifferTitle {
        font-weight: 500;
        font-size: 17px;
        padding: 20px 0px 10px 0px; }
      .snifferMapContent .panel-heading .airQuality {
        font-size: 19px; }
    .snifferMapContent .panel-body {
      padding: 0; }
      .snifferMapContent .panel-body .fineParticlesValue {
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 1.5em;
        font-weight: 500;
        font-size: 17px; }
      .snifferMapContent .panel-body .nowCastRecommend {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 13px;
        color: #000;
        margin: 8px 0px 8px 4px !important; }
    .snifferMapContent .sniffName {
      font-size: 13px;
      color: #9b9999;
      font-family: 'Open Sans Condensed', sans-serif; } }
  @media screen and (max-width: 350px) {
    .snifferMapContent .panel-default .panel-heading {
      font-size: 14px; }
    .snifferMapContent .panel-body {
      font-size: 14px;
      line-height: 1.6; }
    .snifferMapContent .li-panel {
      padding: 15px; }
    .snifferMapContent .panel span {
      padding: 0px; } }

/*# sourceMappingURL=sniffer-map.css.map */
